[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "equil2"]
	path = equil2
	url = https://github.com/billdenney/equil2
[submodule "formulops"]
	path = formulops
	url = https://github.com/billdenney/formulops
[submodule "PKNCA"]
	path = PKNCA
	url = https://github.com/billdenney/pknca
